<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DiApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code"
        tools:targetApi="31">
      <!--  <activity
            android:name=".modules.dagger.demos.scopes.customscope.CustomScopeActivity"
            android:exported="false" />-->
        <activity
            android:name=".modules.dagger.demos.scopes.applicationscope.ApplicationScopeActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dagger.demos.scopes.introdemo.IntroScopeDemoActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dagger.demos.subcomponents.DaggerSubComponentsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dagger.demos.scopes.DaggerScopesActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dagger.demos.concepts.DaggerConceptsActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dagger.DaggerDemoSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".modules.hilt.demos.clientserver.presentation.compose.activity.HiltNetworkComposeApiActivity"
            android:exported="false" />
        <activity
            android:name=".modules.hilt.demos.clientserver.presentation.xml.activity.HiltNetworkXmlApiActivity"
            android:exported="false" />
        <activity
            android:name=".modules.hilt.HiltDemoActivity"
            android:exported="false" />
        <activity
            android:name=".modules.dagger.demos.scopes.customscope.CustomScopeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>